h1 {
    text-align: center;
    font-weight: 900;
    
}

img {
    width: 50%;
    max-width: 500px;
    height: auto;
    margin: auto;
    display: block;
    border-radius: 250px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(224, 159, 37);
}

.ingredients {
    font-style: italic;
}

.return {
    text-align: center; 
}