h1 {
    text-align: center;
    font-weight: 900;
    
}

img {
    width: 50%;
    max-width: 500px;
    height: auto;
    margin: auto;
    display: block;
    border-radius: 250px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(224, 159, 37);
}

.ingredients {
    font-style: italic;
}

div.return {
    margin: 0 auto;
    display: flex;
/* Centers the "return" link */
}

.return a {
    text-align: center;
    background-color:rgb(184, 109, 10);
    padding: 1em;
    width: 4em;
    margin: auto;
    
}

.return a:hover {
    background-color: rgb(158, 92, 5);
}

.recipe-link {
    display: block;
/* Get's rid of the bullet points from <ul> */
}

.recipe-link a { 
    display: block;
    text-align: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    max-width: 400px;
    background-color: rgb(184, 109, 10);
    border-radius: 100px;
    text-decoration: none;
}

.recipe-link a:hover {
    background-color: rgb(158, 92, 5);
}